/* in the name of Rainbow GOD */
body{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
}
/* header start */
header a{
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: #000;
    margin-right: 7px;
}
header a:hover{
    color: #8490ff;
    transition-duration: 0.2s;
}
/* header>.container-header>nav>ul>li>a{
    color: #8490ff;
} */
.container-header{
    width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-header a img{
    margin-top: 10px;
}
.container-header ul li{
    list-style: none;
    display: inline-block;
}
.container-header nav >ul> li> ul{
    display: none;
    /* visibility: hidden; */
}
.container-header nav >ul >li :hover >ul{
  display: block;
  /* visibility: visible; */
}
.container-header nav>ul>li>ul>li>ul{
    display: none;
}
.container-header nav>ul>li>ul>li :hover>ul{
    display: block;
}
/* header End */
/* main start */
main{
    background-color: #f9f9ff;
    font-family: "Poppins", sans-serif;
}
main .container-main{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.main-L{
    margin-right: 15px;
    margin-top: 150px;
}
.main-L span{
letter-spacing: 3px;
display: block;
}
.main-L p:first-of-type{
    font-size: 60px;
    font-weight: 600;
    margin: 40px 0 40px 0;   
}
.main-L p:last-of-type{
    font-size: 20px;
    opacity: 0.6;
    margin-bottom: 40px;
}
.main-L a{
    background-color:#62bdfc ;
    border: 1px solid #62bdfc;
    border-radius: 2px;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.main-L>a:hover{
    box-shadow: 0px 24px 15px #9bcdf173;
    transition: all;
    transition-duration: 0.3s;
}
/* main End */
/* main2 start */
.main2{
margin-top: 120px;
}
.main2>.container-main2{
    width: 1110px;
    height: 383.250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container-main2>.main2-L{
   padding: 0 15px 0 15px;
}
.container-main2 .main2-R{
    width: 445px;
    height: 316px;
}
.container-main2>.main2-L img{
    width: 540px;
    height: max-content;
}
.container-main2>.main2-R span{
    margin-bottom: 30px;
    display: block;
}
.container-main2 .main2-R>p:first-of-type{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}
.container-main2>.main2-R>p:last-of-type{
    margin-bottom: 40px;
    font-size: 16px;
    opacity: 0.6;
}
.container-main2>.main2-R a{
    background-color: #62bdfc;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 1px;
}
.container-main2>.main2-R>a:hover{
    box-shadow: 0px 24px 15px #9bcdf173;
    transition: all;
    transition-duration: 0.3s;
}
/* main2 End */
/* main3 start............. */
#Services>.container{
    width: 1140px;
    height: 650px;
    margin: 0 auto;
}
#Services>.container>div:first-of-type{
    width:609px ;
    height: 115px;
    margin: 0 auto;
margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#Services>.container>div:first-of-type>p{
text-align: center;
opacity: 0.6;
}
#Services>.container>.Services{
    width: 1140px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}
#Services>.container>.Services>div>a{
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-weight: 450;
    display: block;
    margin-top: 29px;
}
#Services>.container>.Services>div>p{
    opacity: 0.6;
}
#Services>.container>.Services>div{
    width: 360px ;
    height: 255px;
    box-sizing: border-box;
    margin: 10px;
}
#Services>.container>.Services>div:hover{
    color: #8490ff;
    transition: all;
    transition-duration: 0.2s;
}
#Services>.container>.Services>div>a:hover{
    color:  #8490ff ;
    transition: all;
    transition-duration: 0.2s;
}
#Services>.container>.Services>div>img{
    width: 35px;
}
#Services>.container>.Services>div>img:hover{
    color: #62bdfc;
}
/* main3 end............... */
/* main4 start............. */
#number{
    background-color: linear-gradient(0deg , #8490ff 0%,  #62bdfc 100%);
}
#number>.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    justify-content:center;
    background-color: #62bdfc;
}
#number>.container>div{
    /* margin: 40px 100px 40px 100px; */
    width: 200px;
    margin: 40px;
    color: #fff;
}
#number>.container>div>h1{
    font-size: 45px;
}
#number>.container>div>p{
    font-size: 16px;
}
/* main4 end...................... */
/* main5 start................... */
#projects{
    margin-bottom: 350px;
}
#projects>.container{
    width: 1140px;
    height: 1137px;
    margin: 0 auto;
}
#projects>.container>div:first-of-type{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#projects>.container>div:first-of-type>h1{
    font-size: 35px;
}
#projects>.container>div:first-of-type>p{
    opacity: 0.6;
}
#projects>.container>div:nth-of-type(2)>ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
}
#projects>.container>div:nth-of-type(2)>ul>li{
    margin-right: 50px;
    margin-bottom: 70px;
    position: relative;
}
#projects>.container>div:nth-of-type(2)>ul>li>div{
position: absolute;
bottom: 0;
left: 10px;
background-color: #000;
/* visibility: hidden; */
width: 100%;
}
/* #projects>.container>div:nth-of-type(2)>ul:visited{
    color: #62bdfc;
} */
#projects>.container>div:nth-of-type(3){
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
#projects>.container>div:nth-of-type(3)>div{
    margin-left: 20px;
    margin-right: 20px;
}
#projects>.container>div:nth-of-type(3)>div>h4{
    font-size: 18px;
}
#projects>.container>div:nth-of-type(3)>div>p{
    opacity: 0.7;
}
/* main5 end................... */
/* main6 start.................. */
#feedback-about-me{
    background-color: #7777771f;
}
#feedback-about-me>.container{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
}
#feedback-about-me>.container>.about-me{
text-align: center;
padding-top: 100px;
}
#feedback-about-me>.container>.about-me>h1{
    font-size: 40px;
}
#feedback-about-me>.container>.about-me>p{
    opacity: 0.7;
}
#feedback-about-me>.container>.posts{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#feedback-about-me>.container>.posts>div{
    width: 500px;
    height: 186px;
    background-color: #fff;
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}
#feedback-about-me>.container>.posts>div>div{
    width: 400px;
    height: 150px;
    margin: 0 auto;
}
#feedback-about-me>.container img{
    width: 40px;
    margin-top: 20px;
    margin-left: 10px;
}
#feedback-about-me>.container>.posts>div>div p{
    opacity: 0.7;
}
#feedback-about-me>.container>.posts>div>div>h4{
    font-size: 20px;
}
/* plan start......................... */
.thePlans {
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .thePlans>div {
    background-color: #f7f7ff;
    width: fit-content;
    padding: 60px;
    text-align: center;
   }
   
   .circle {
    display: inline-block;
    border-radius: 50%;
    padding: 40px;
    background: radial-gradient(circle at center, #eaeaff, #cccbff);
   }
   
   .thePlans>div>div {
    margin-bottom: 30px;
   }
   
   .thePlans hr {
    opacity: 15%;
   }
   
   .planH {
    margin-bottom: 30px;
   }
   /* plzne end.................................... */
   .posts {
    background-color: #f7f7ff;
    margin-top: 70px;
    margin-bottom: 70px;
   }
   
   .containerPosts {
    width: 1300px;
    height: 800px;
    margin: 0 auto;
   }
   
   .postsH {
    text-align: center;
    width: 700px;
    margin: 0 auto;
   }
   .postsH>h5{
    font-size: 40px;
   }
   .postsH>p{
    opacity: 0.7;
   }
   .postsPics {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   .postsPics > div {
    width: 360px;
   }
   
   .posts hr {
    opacity: 15%;
    margin-top: 0;
    margin-bottom: 50px;
   }
   
   /* .date p {
    display: inline-block;
    margin-left: 150px;
   }
   .date span {
   margin-left: 10px;
   }
   .date img {
   vertical-align: middle;
   } */
   .postsPics>div>h6{
    font-size: 20px;
   }
   .postsPics>div>p{
    opacity: 0.7;
   }